body {
    padding: 0px;
    margin: 0px;
}

zbutton {
    border: 0;
}

vbox {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;    
}

hbox {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

toolbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 7vh;
    background: #1e92b5;
}

toolbar .left {
    padding: 0 1.5em 0 1em;
}

toolbar .title {
    color: #fff;
    font-size: 20pt;
    font-weight: bold;    
}

toolbar zbutton {
    width: 2.6em;
    height: 2.6em;
    background-size: 2.6em;
}